@mixin button($text, $background, $htext, $hbackground){
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding: 0.25em 0.75em;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: $text;
	background-color: $background;
	border: none;
	@include border-radius(1em);

	@include fontSize(15px);
	@include OswaldRegular;
	@include transition(all 0.35s ease-in-out);

	&:hover{
		color: $htext;
		background-color: $hbackground;
	}

}

.button{
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding: 0.25em 0.75em;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: rgba($red, 0.6);
	border: none;
	@include border-radius(1em);

	@include fontSize(15px);
	@include OswaldRegular;
	@include transition(all 0.35s ease-in-out);
}

body.desktop{
	.button:hover{
		color: $red;
		background-color: #000;
	}
}