{% spaceless %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
		<link href="/css/site.css" rel="stylesheet">

		{% block css %}{% endblock %}
		{% block head %}{% endblock %}
	</head>
	<body>
		<!-- header -->
		<header id="header" class="header">
			<div class="header__container">
				<a href="/" class="header__logo" title="Sport&Fitness">
					<picture>
						<source srcset="/images/logo.svg" media="(max-width: 960px)">
						<source srcset="/images/logo-lg.svg">
						<img srcset="/images/logo.svg" alt="Logo Sport&Fitness">
					</picture>
				</a>
				<button title="Ver menu" class="header__burger toggleMenu"><i class="burger"></i></button>

				<nav id="menu" class="header__menu menu">
					<div class="menu__overlay toggleMenu"></div>
					<button title="Cerrar menu" class="menu__close toggleMenu"><i class="close"></i></button>
					<div class="menu__container">
						<ul class="menu__list">
							<li class="menu__item">
								<a href="/"
								   class="menu__link"
								   title="Home"
								   target="_self"><i class="icon-home"></i> Home</a>
							</li>
							<li class="menu__item">
								<a href="/nosotros"
								   class="menu__link"
								   title="Nosotros"
								   target="_self"><i class="icon-logo"></i> Nosotros</a>
							</li>
							<li class="menu__item">
								<a href="/instalaciones"
								   class="menu__link"
								   title="Instalaciones"
								   target="_self"><i class="icon-cards"></i> Instalaciones</a>
							</li>
							<li class="menu__item">
								<a href="/ubicaciones"
								   class="menu__link"
								   title="Ubicaciones"
								   target="_self"><i class="icon-pin"></i> Ubicaciones</a>
							</li>
							<li class="menu__item">
								<a href="/actividades-fitness"
								   class="menu__link"
								   title="Actividades"
								   target="_self"><i class="icon-bottle"></i> Actividades</a>
							</li>
							<li class="menu__item">
								<a href="/promociones"
								   class="menu__link"
								   title="Promociones"
								   target="_self"><i class="icon-promo"></i> Promociones</a>
							</li>
							<li class="menu__item">
								<a href="/contacto"
								   class="menu__link"
								   title="Contacto"
								   target="_self"><i class="icon-cloud"></i> Contacto</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!-- /header -->

		<!-- body -->
		<div class="main-content">
			{% block content %}{% endblock %}
		</div>
		<!-- /body -->

		<!-- footer -->
		<footer id="footer" class="footer">
			<div class="footer__container">
				<a href="/" class="footer__logo" title="Sport&Fitness">
					<img srcset="/images/logo.svg" alt="Logo Sport&Fitness">
				</a>
			</div>
			<div class="footer__container">
				<div class="footer__block">
					<a href="/sucursales" title="Sucursales" class="footer__link">Sucursales</a>
				</div>
				<div class="footer__block">
					<a href="/docs/reglamento.pdf" title="Reglamento" class="footer__link">Reglamento</a>
					<a href="/docs/aviso-de-privacidad.pdf" title="Aviso de privacidad" class="footer__link">Aviso de privacidad</a>
				</div>
				<div class="footer__block footer__block--big">
					<ul class="footer__sociales">
						<li class="footer__sociales__item">
							<a href="#"
							 class="footer__sociales__link"
							 title="Youtube"
							 target="_blank">
							 <i class="icon-youtube"></i></a>
						</li>
						<li class="footer__sociales__item">
							<a href="#"
							 class="footer__sociales__link"
							 title="Facebook"
							 target="_blank">
							 <i class="icon-facebook"></i></a>
						</li>
						<li class="footer__sociales__item">
							<a href="#"
							 class="footer__sociales__link"
							 title="Instagram"
							 target="_blank">
							 <i class="icon-instagram"></i></a>
						</li>
						<li class="footer__sociales__item">
							<a href="#"
							 class="footer__sociales__link"
							 title="Twitter"
							 target="_blank">
							 <i class="icon-twitter"></i></a>
						</li>
					</ul>

					<p class="footer__text">Síguenos en nuestras redes sociales</p>

					<a href="/contacto" title="Contáctanos" class="footer__link">Contáctanos</a>
				</div>
			</div>
		</footer>
		<!-- /footer -->

		<!-- fonts -->
		<script src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script async defer>WebFont.load({google: {families: ['Dosis:200,300,400,500,600,700,800', 'Oswald:200,300,400,500,600,700']}});</script>
		<!-- /fonts -->

		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		<script src="/js/base.js"></script>

		{% block js %}{% endblock %}
	</body>
</html>
{% endspaceless %}