.activities-list{
	@include display-flex;
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	width: 100%;

	@media (min-width: $tablet-min){
		padding: 0 1em;
		max-width: 1050px;
		margin: 0 auto;
		@include box-sizing(border-box);
	}

	& .activity-popup{
		display: none;
	}

	&__item{
		position: relative;
		width: 32%;
		margin: 0.35rem 0;
		overflow: hidden;
		@media (min-width: $tablet-min){
			margin: 0.5rem 0;
		}

		@media (min-width: $desktop){
			margin: 0.75em 0;
		}
	}

	&__btn{
		position: relative;
		width: 100%;
		background: transparent;
		border: none;
		outline: none;
		padding: 0;
		display: block;
		cursor: pointer;
	}

	&__video{
		@include absolute-full-container;
		& video{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	&__img{
		@include setImg;
		opacity: 1;
		position: relative;
		@include transition(all 0.35s ease-in-out);
	}

	&__title{
		@include OswaldRegular;
		@include fontSize(14px);
		text-transform: uppercase;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0.5em;
		color: #fff;
		text-shadow: 0 0 10px #000000;
		text-align: left;
		padding: 0 1em 0 0.75em;
		line-height: 1.25;

		& .hover{
			display: table-caption;
			position: relative;
			z-index: 1;
			padding: 0.25em 0;
			
			&:before{
				content:'';
				display: block;
				position: absolute;
				z-index: -1;
				top: 0;
				bottom: 0;
				left: -1em;
				right: calc(100% + 1em);
				background-color: $red;

				@include transition(all 0.35s ease-in-out);
			}
			
		}

		@media (min-width: $tablet-min){
			@include fontSize(28px);
			padding: 0 2em 0 0.75em;
		}

		@media (min-width: $desktop){
			@include fontSize(35px);
		}
	}
}

body.desktop{
	.activities-list{
		&__btn:hover{
			& .activities-list__img{
				opacity: 0;
			}
			& .activities-list__title{
				& .hover:before{
					right: -0.5em;
				}
			}
		}
	}
}