.fitness-carousel{
	width: 80%;
	position: relative;
	margin: 2em 0 0 0;

	&__item{
		position: relative;
		display: block;
		width: 125px;
		@media (min-width: $tablet-min){
			width: 250px;
		}

		@media (min-width: $desktop){
			width: 300px;
		}
	}

	&__link{
		@include aspect-ratio(3,2);
		@include fullBackground;
		width: 100%;
		display: block;
		color: #fff;
		text-decoration: none;
		position: relative;

		&:after{
			@include absolute-full-container;
			display: block;
			content: '';
			background-color: rgba(0,0,0,0.3);

			@include transition(background-color 0.35s ease-in-out);
		}
	}

	&__title{
		@include OswaldSemi;
		@include fontSize(16px);
		text-transform: uppercase;
		position: absolute;
		line-height: 1;
		bottom: 0.75em;
		left: 0.75em;
		z-index: 1;
		letter-spacing: 0.25em;
		& span{
			@include OswaldRegular;
			font-size: 0.4em;
			background-color: $red;
			display: table;
			padding: 0.1em;
		}
		@media (min-width: $tablet-min){
			@include fontSize(20px);
		}

		@media (min-width: $desktop){
			@include fontSize(30px);
		}
	}
}

body.desktop{
	.fitness-carousel{
		&__link:hover{

			&:after{
				background-color: rgba(0,0,0,0.15);
			}
		}
	}
}