.promos-block{
	@include fullBackground;

	background-image: url(/images/promos.jpg);
	background-color: #000;
	background-position: 0% 50%;
	width:100%;
	height: 200px;
	padding: 2em 0;


	@media (min-width: $desktop){
		height: 400px;
		background-position: 50%;
	}

	&__container{
		@include display-flex;
		@include justify-content(flex-end);
		@include align-items(flex-end);
		@include container;
		padding: 0 2em;
		height: 100%;

		@media (min-width: $desktop){
			@include align-items(center);
			padding: 0;
		}
	}

	&__data{
		@include border-radius(20px);
		max-width: 220px;
		text-align: center;
		color: #fff;
		padding: 1em;

		@media (min-width: $desktop){
			text-align: right;
			max-width: 300px;
		}
	}

	&__title{
		@include OswaldRegular;
		@include fontSize(25px);
		text-transform: uppercase;
		letter-spacing: 0.2em;

		@media (min-width: $desktop){
			@include fontSize(40px);
			text-align: center;
		}
	}

	&__description{
		@include OswaldRegular;
		@include fontSize(17px);
		text-transform: uppercase;
		letter-spacing: 0.2em;
		& span{
			font-size: 1.2em;
		}
		@media (min-width: $desktop){
			@include fontSize(25px);
			text-align: center;
		}
	}

	&__button{
		margin: 0.5em 0 0;
	}
}