html,body {
	height: 100%;
}

body {
	@include DosisRegular();
	font-size: $font-size-base;
	position: relative;
	color: $font-color-base;
	background-color: $body-color-base;
  line-height: 1.3;
	overflow-x: hidden;
}
strong{
	font-weight: 800;
}


.main-content{
	padding-top: $mobile-header;

	@media (min-width: $desktop){
		padding-top: $desktop-header;
	}
}

.background-video {
	@include absolute-full-container;
	overflow: hidden;
}

.full-screen-video {
	@include absolute-full-container;
	@include transition(opacity 0.75s);
	opacity: 0;

	&:after{
		@include absolute-full-container;
		display: block;
		content: '';
		background-color: rgba(0,0,0,0.5);
	}

	&.loaded{
		opacity: 1;
	}

	& video {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		transform: translate3d(-50%, -50%, 0);
	}
}

.video-player-dimensions{
	width: 100% !important;
	height: 100% !important;
}

.link{
	color: $red;
	text-decoration: none;
}


.desktop-show{
	display: none;
	@media (min-width: $desktop){
		display: block;
	}
}

.desktop-hide{

	@media (min-width: $desktop){
		display: none;
	}
}

/* Dispositivos */
body:not(.desktop){
}

/* Computadoras */
body.desktop {
	.link:hover{
		text-decoration: underline;
	}
}
